h1 {
    border-bottom: 2px solid black;
}

.employee-container {
    display: flex;
    justify-content: space-evenly;
}


.employee-info-container {
    font-size: 1.2rem;
}

.employee-info {
    font-style: italic;
}

.employee-data {
    font-weight: bold;
}

.picture {
    align-self: flex-start;
    display: block;
    width: 250px;
    object-fit: contain;
}

@media print {

    h1 {
        font-size: smaller;
    }

    .picture {
        width: 100px;
    }

    .employee-info-container {
        font-size: 0.8rem;
    }

}